.taskBlock {
    padding: 16px;
    margin-bottom: 12px;
    border: 1px solid #eee;
    border-radius: 12px;
  }
  
  .taskBlock:hover{
     background: #fffbd2;
  }
  
  .faded {
    color: #373737;
    font-style: italic;
    margin-top: 6px;
    font-weight: bold;
  }
  